*{
    background-color: black;
    margin:0px;
    padding:0px;
}

h2{
    text-align: center;
    background-color: orangered;
    color:black;
    box-sizing: content-box;
    width:80%;
    height:40px;
    margin-left:130px;
    margin-right:90px;
    margin-top: 3px;
}
h1{
    color:orange;
    text-align: center;
}
img{
    height:100%;
    width:35%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: left;
    color:white;
    justify-content: center;
    margin-left: 140px;
    margin-right: 140px;
}
h3{
    color:orangered;
    margin-left:140px;
    margin-right: 140px;
}